################################################
# Jinja2 template for rofi configuration file
# ---------------------------
# Author: Alejandro Ricoveri <axltxl.xyz>
# vim: ft=jinja cms=#%s
################################################

# Format a bunch of hex colors into a rofi-compliant color string
# used for its configuration.
# Example: ['010101', 'd1d2fc', 'c1dfa1'] => '#010101,#d1d2fc,#c1dfa1'
% macro rofi_color(color_set)
%   set fmt_color = []
%   for color in color_set
%     do fmt_color.append(color|norm_hex)
%-  endfor
{{ fmt_color|join(",") }}
%- endmacro

rofi.modi:                       {{ rofi_modi|join(",") }}
rofi.opacity:                    {{ rofi_opacity }}
rofi.width:                      {{ rofi_width }}
rofi.lines:                      {{ rofi_lines }}
rofi.columns:                    {{ rofi_columns }}
rofi.font:                       {{ rofi_font }} {{ rofi_font_size }}
rofi.color-enabled:              {{ rofi_color_enabled|bool2str }}
rofi.color-normal:               {{ rofi_color(rofi_color_normal) }}
rofi.color-urgent:               {{ rofi_color(rofi_color_urgent) }}
rofi.color-active:               {{ rofi_color(rofi_color_active) }}
rofi.color-window:               {{ rofi_color(rofi_color_window) }}
rofi.bw:                         {{ rofi_bw }}
rofi.location:                   {{ rofi_location }}
rofi.padding:                    {{ rofi_padding }}
rofi.yoffset:                    {{ rofi_yoffset }}
rofi.xoffset:                    {{ rofi_xoffset }}
rofi.fixed-num-lines:            {{ rofi_fixed_num_lines|bool2str }}
rofi.terminal:                   {{ rofi_terminal }}
rofi.ssh-client:                 {{ rofi_ssh_client }}
rofi.ssh-command:                {{ rofi_ssh_command }}
rofi.run-command:                {{ rofi_run_command }}
rofi.run-list-command:           {{ rofi_run_list_command }}
rofi.run-shell-command:          {{ rofi_run_shell_command }}
rofi.disable-history:            {{ rofi_disable_history|bool2str }}
rofi.levenshtein-sort:           {{ rofi_levenshtein_sort|bool2str }}
rofi.case-sensitive:             {{ rofi_case_sensitive|bool2str }}
rofi.sidebar-mode:               {{ rofi_sidebar_mode|bool2str }}
rofi.lazy-filter-limit:          {{ rofi_lazy_filter_limit }}
rofi.eh:                         {{ rofi_eh }}
rofi.auto-select:                {{ rofi_auto_select|bool2str }}
rofi.parse-hosts:                {{ rofi_parse_hosts|bool2str }}
rofi.combi-modi:                 {{ rofi_combi_modi|join(",") }}
rofi.fuzzy:                      {{ rofi_fuzzy|bool2str }}
rofi.m:                          {{ rofi_m }}
rofi.line-margin:                {{ rofi_line_margin }}
rofi.filter:                     {{ rofi_filter }}
rofi.separator-style:            {{ rofi_separator_style }}
rofi.hide-scrollbar:             {{ rofi_hide_scrollbar|bool2str }}
rofi.pid:                        {{ rofi_pid }}

###################
# Keyboard bindings
###################
rofi.kb-primary-paste:           {{ rofi_kb_primary_paste }}
rofi.kb-secondary-paste:         {{ rofi_kb_secondary_paste }}
rofi.kb-clear-line:              {{ rofi_kb_clear_line }}
rofi.kb-move-front:              {{ rofi_kb_move_front }}
rofi.kb-move-end:                {{ rofi_kb_move_end }}
rofi.kb-move-word-back:          {{ rofi_kb_move_word_back }}
rofi.kb-move-word-forward:       {{ rofi_kb_move_word_forward }}
rofi.kb-move-char-back:          {{ rofi_kb_move_char_back }}
rofi.kb-move-char-forward:       {{ rofi_kb_move_char_forward }}
rofi.kb-remove-word-back:        {{ rofi_kb_remove_word_back }}
rofi.kb-remove-word-forward:     {{ rofi_kb_remove_word_forward }}
rofi.kb-remove-char-forward:     {{ rofi_kb_remove_char_forward }}
rofi.kb-remove-char-back:        {{ rofi_kb_remove_char_back }}
rofi.kb-accept-entry:            {{ rofi_kb_accept_entry }}
rofi.kb-accept-custom:           {{ rofi_kb_accept_custom }}
rofi.kb-accept-entry-continue:   {{ rofi_kb_accept_entry_continue }}
rofi.kb-mode-next:               {{ rofi_kb_mode_next }}
rofi.kb-mode-previous:           {{ rofi_kb_mode_previous }}
rofi.kb-toggle-case-sensitivity: {{ rofi_toggle_case_sensitivity }}
rofi.kb-delete-entry:            {{ rofi_kb_delete_entry }}
rofi.kb-row-left:                {{ rofi_kb_row_left }}
rofi.kb-row-right:               {{ rofi_kb_row_right }}
rofi.kb-row-up:                  {{ rofi_kb_row_up }}
rofi.kb-row-down:                {{ rofi_kb_row_down }}
rofi.kb-row-tab:                 {{ rofi_kb_row_tab }}
rofi.kb-page-prev:               {{ rofi_kb_page_prev }}
rofi.kb-page-next:               {{ rofi_kb_page_next }}
rofi.kb-row-first:               {{ rofi_kb_row_first }}
rofi.kb-row-last:                {{ rofi_kb_row_last }}
rofi.kb-row-select:              {{ rofi_kb_row_select }}
rofi.kb-cancel:                  {{ rofi_kb_cancel }}

#########################
# Keyboard custom actions
#########################
% if rofi_kb_custon is iterable
%   for kb_custom in rofi_kb_custom
%     if loop.index <= 20
rofi.kb-custom-{{ loop.index }}:             {{ kb_custom }}
%     else
%       break
%     endif
%   endfor
% endif
