################################################
# Jinja2 template for rofi configuration file
# ---------------------------
# Author: Alejandro Ricoveri <axltxl.xyz>
# vim: ft=jinja cms=#%s
################################################

rofi.modi:                           {{ rofi_modi|join(",") }}
rofi.opacity:                        {{ rofi_opacity }}
rofi.width:                          {{ rofi_width }}
rofi.lines:                          {{ rofi_lines }}
rofi.columns:                        {{ rofi_columns }}
rofi.font:                           {{ rofi_font }} {{ rofi_font_size }}
rofi.color-enabled:                  {{ rofi_color_enabled|bool2str }}
rofi.color-normal:                   {{ rofi_color_normal|join(",") }}
rofi.color-urgent:                   {{ rofi_color_urgent|join(",") }}
rofi.color-active:                   {{ rofi_color_active|join(",") }}
rofi.color-window:                   {{ rofi_color_window|join(",") }}
rofi.bw:                             {{ rofi_bw }}
rofi.location:                       {{ rofi_location }}
rofi.padding:                        {{ rofi_padding }}
rofi.yoffset:                        {{ rofi_yoffset }}
rofi.xoffset:                        {{ rofi_xoffset }}
rofi.fixed-num-lines:                {{ rofi_fixed_num_lines|bool2str }}
rofi.terminal:                       {{ rofi_terminal }}
rofi.ssh-client:                     {{ rofi_ssh_client }}
rofi.ssh-command:                    {{ rofi_ssh_command }}
rofi.run-command:                    {{ rofi_run_command }}
rofi.run-list-command:               {{ rofi_run_list_command }}
rofi.run-shell-command:              {{ rofi_run_shell_command }}
rofi.disable-history:                {{ rofi_disable_history|bool2str }}
rofi.levenshtein-sort:               {{ rofi_levenshtein_sort|bool2str }}
rofi.case-sensitive:                 {{ rofi_case_sensitive|bool2str }}
rofi.sidebar-mode:                   {{ rofi_sidebar_mode|bool2str }}
rofi.lazy-filter-limit:              {{ rofi_lazy_filter_limit }}
rofi.eh:                             {{ rofi_eh }}
rofi.auto-select:                    {{ rofi_auto_select|bool2str }}
rofi.parse-hosts:                    {{ rofi_parse_hosts|bool2str }}
rofi.combi-modi:                     {{ rofi_combi_modi|join(",") }}
rofi.fuzzy:                          {{ rofi_fuzzy|bool2str }}
rofi.m:                              {{ rofi_m }}
rofi.line-margin:                    {{ rofi_line_margin }}
rofi.filter:                         {{ rofi_filter }}
rofi.separator-style:                {{ rofi_separator_style }}
rofi.hide-scrollbar:                 {{ rofi_hide_scrollbar|bool2str }}
rofi.pid:                            {{ rofi_pid }}
rofi.kb-primary-paste:               Control+Shift+v,Shift+Insert
rofi.kb-secondary-paste:             Control+v,Insert
rofi.kb-clear-line:                  Control+u
rofi.kb-move-front:                  Control+a
rofi.kb-move-end:                    Control+e
rofi.kb-move-word-back:              Alt+b
rofi.kb-move-word-forward:           Alt+f
rofi.kb-move-char-back:              Left,Control+b
rofi.kb-move-char-forward:           Right,Control+f
rofi.kb-remove-word-back:            Control+Alt+h
rofi.kb-remove-word-forward:         Control+Alt+d
rofi.kb-remove-char-forward:         Delete,Control+d
rofi.kb-remove-char-back:            BackSpace,Control+h
rofi.kb-accept-entry:                Control+m,Return,KP_Enter
rofi.kb-accept-custom:               Control+Return
rofi.kb-accept-entry-continue:       Shift+Return
rofi.kb-mode-next:                   Shift+Right,Control+Tab
rofi.kb-mode-previous:               Shift+Left,Control+Shift+Tab
rofi.kb-toggle-case-sensitivity:     grave,dead_grave
rofi.kb-delete-entry:                Shift+Delete
rofi.kb-row-left:                    Control+Page_Up
rofi.kb-row-right:                   Control+Page_Down
rofi.kb-row-up:                      Control+k
rofi.kb-row-down:                    Control+j
rofi.kb-row-tab:                     Tab
rofi.kb-page-prev:                   Page_Up
rofi.kb-page-next:                   Page_Down
rofi.kb-row-first:                   Home,KP_Home
rofi.kb-row-last:                    End,KP_End
rofi.kb-row-select:                  Control+space
rofi.kb-cancel:                      Control+bracketleft
rofi.kb-custom-1:                    Alt+1
rofi.kb-custom-2:                    Alt+2
rofi.kb-custom-3:                    Alt+3
rofi.kb-custom-4:                    Alt+4
rofi.kb-custom-5:                    Alt+5
rofi.kb-custom-6:                    Alt+6
rofi.kb-custom-7:                    Alt+7
rofi.kb-custom-8:                    Alt+8
rofi.kb-custom-9:                    Alt+9
rofi.kb-custom-10:                   Alt+0
rofi.kb-custom-11:                   Alt+Shift+1
rofi.kb-custom-12:                   Alt+Shift+2
rofi.kb-custom-13:                   Alt+Shift+3
rofi.kb-custom-14:                   Alt+Shift+4
rofi.kb-custom-15:                   Alt+Shift+5
rofi.kb-custom-16:                   Alt+Shift+6
rofi.kb-custom-17:                   Alt+Shift+7
rofi.kb-custom-18:                   Alt+Shift+8
rofi.kb-custom-19:                   Alt+Shift+9
